h1{
  font-family: "Poiret One";
}
#controls {
  font-family: "Poiret One";
  position: relative;
  float: right;
  max-width: 500px;
  border: 1px solid black;
  padding: 25px;
}

#controlModule{
  padding: 25px;
  border: 1px solid black;
  display: none;
}

#fuelModule{
  padding: 25px;
  border: 1px solid black;
  display: none;
}

#engineModule{
  padding: 25px;
  border: 1px solid black;
  display: none;
}
#saveButton{
  //display:none;
}
#capsuleDetails{
  display: none;
  padding: 25px;
  border: 1px solid black;
}
#fairingDetails{
  display: none;
  padding: 25px;
  border: 1px solid black;
}
#stageSeparator{
  display:none;
}
#visualizerCanvas{
  border: 1px solid black;
}
