<canvas id = "visualizerCanvas" class = "panel panel-default" width = "400" height = "800"></canvas>

<div id = "controls" class = "container panel panel-default ">
<h3>Build a rocket</h3>
<div id = "description">
  Name
  <input type="text" id = "rocketNameInput" name="rocketName" class="form-control"><br>
  Description
  <input type="text" id = "rocketDescriptionInput" name="rocketDescription" class="form-control"><br>
</div>
<button type="button" id = "newRocketButton" class = "btn btn-lg btn-default">New Rocket</button>
<div id="controlModule" class = "panel panel-default">
Type of Controller
<select id = "typeOfControllerInput">
  <option value="capsule">Capsule</option>
  <option value="payload_adapter">Payload Adapter</option>
</select>
<br/>
<div id = "capsuleDetails" class = "panel panel-default">
      Crew
      <input type="text" id = "numOfPeopleInput" name="crewCapacity" class="form-control"><br>
    </div>
    <div id = "fairingDetails">
  Control Unit
  Width
    <input type="text" id = "controlUnitWidthInput" name="tankWidth" class="form-control"><br>
  Length of Fairing
  <input type="text" id = "controlUnitWidthInput" name="tankWidth" class="form-control"><br>
    <input type="text" id = "fairingLengthInput" name="fairingLength" ><br>
  </div>
  <button type="button" id = "addControlModuleButton" class = "btn btn-lg btn-default">Add Control Module</button><br/>
</div>

<div id = "fuelModule" class = "panel panel-default">
  Length
  <input type="text" id = "tankLengthInput" name="tankLength" class="form-control" ><br>
  Diameter
  <input type="text" id = "tankDiameterInput" name="tankDiameter" class="form-control"><br>
  Tank type
<select id = "tankTypeInput">
  <option value="balloon">Balloon</option>
  <option value="monocoque">Monocoque</option>
  <option value="traditional">Traditional</option>
</select><br/>
Fuel Type
<select id = "fuelTypeInput">
  <option value="methalox">Methane/LOX</option>
  <option value="kerolox">Kerosene/LOX</option>
  <option value="hydrolox">Hydrogen/LOX</option>
</select><br/>
<button type="button" id = "addFuelTankButton" class = "btn btn-lg btn-default">Add Fuel Tank</button>
</div>

<div id = "engineModule" class = "panel panel-default">
 Number of Engines
 <input type="text" id = "engineNumberInput" name="numEngines" class="form-control"><br>
 Type
 <select id = "engineTypeInput">
   <option value="merlin">Merlin</option>
 </select>
 <br/>
 <button type="button" id = "addEnginesButton" class = "btn btn-lg btn-default">Add Engines</button>
 </div>
<!--<button type="button" id="stageSeparatorButton" class = "btn btn-lg btn-default">Add Stage Separator</button>-->
<button type="button" id="saveButton" class = "btn btn-lg btn-default">Save Rocket</button>
</div>

<link rel="stylesheet" href="assets/css/editorStyle.css">
<!--<link rel="stylesheet" href="assets/css/navbarStyle.css">-->
<!--<script src="../client/js/editor.js"></script>-->
<script src="assets/js/editor.js"></script>
<script src="assets/js/visualizer.js"></script>
