<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Rocketsim.io</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="assets/css/loginStyle.css" />
  <link rel="stylesheet" href="assets/css/editorStyle.css">
  <link rel="stylesheet" href="assets/css/navbarStyle.css">
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/rocket64x64.png" alt="rocket logo"/></a>
    <h1>Rocket Editor</h1>
    <div class="navlink"><a href="/login">Login</a></div>
    <div class="navlink"><a href="/signup">Sign up</a></div>
  </nav>
  <section id="login">
    <form id="loginForm" name="loginForm" action="/login" method="POST" class="mainForm">
      <label for="username">Username: </label>
      <input id="user" type="text" name="username" placeholder="username"/>
      <label for="pass">Password: </label>
      <input id="pass" type="password" name="pass" placeholder="password"/>
      <a id="loginSubmit" href="#" class="formSubmit">Sign in</a>
    </form>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/js/login.js" type="text/babel"></script>
</body>
</html>
