<div class="container">
  <form id="loginForm" name="loginForm" action="/login" method="POST" class="mainForm form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="username" class="sr-only">Username: </label>
    <input id="user" class="form-control" type="text" name="username" placeholder="username"/>
    <label for="pass" class="sr-only">Password: </label>
    <input id="pass" class="form-control" type="password" name="pass" placeholder="password"/>
    <a id="loginSubmit" href="#" class="btn btn-lg btn-primary btn-block">Sign in</a>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="/assets/js/login.js" type="text/babel"></script>
<!--<link rel="stylesheet" type="text/css" href="assets/css/loginStyle.css" />-->
<!--  <link rel="stylesheet" href="assets/css/editorStyle.css">-->
<!--  <link rel="stylesheet" href="assets/css/navbarStyle.css"> -->
